// COLORS
$c-white-dark: #f8efef;
$c-orange: #fd8061;
$c-white: #f9faff;
$c-blue: #1c1e52;
$c-green: green;
$c-black: #000;
$c-red: red;

// Font size
$fs-base: 16;
// $fs-h1: 48;

// Transition
$t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

// Box shadow
$bs-normal: 3px 4px 7px rgba($c-black, 0.1);
