extends .src/_extends/common 

block title     
    title News 

block content 
    p NEWS 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odit corrupti dolore hic sequi incidunt repudiandae nesciunt harum minus in, similique tenetur et sapiente voluptates distinctio est labore ex corporis.
