.c-header {
  background-color: #1c1e52;
  color: #f9faff;
}

.c-header__wrapper {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.c-header__text {
  text-align: center;
  color: #fd8061;
}

.c-header__text--red {
  color: red;
}

.c-header__text--green {
  color: green;
}

.e-button {
  padding: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #f9faff;
}

.e-button:hover {
  background-color: #fd8061;
}

.e-button__text {
  color: #1c1e52;
}

.e-button--blue {
  background-color: #f8efef;
  color: #f9faff;
}

.e-button--blue:hover {
  background-color: red;
}
